$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.biography-container {
}

.biography-text {
  float: left;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  width: 600px;
}

.bio {
  height: 101px;
}

.null-profile-bio {
  font-size: 16px;
  margin-top: 10px;
  color: $border-gray;
}

.null-profile-bio:hover {
  color: $main-blue-hover;
}

.profile-bio {
  height: 85px;
  display: block;
  width: 400px;
  margin-top: 10px;
}

.editing-profile-bio {
  height: 85px;
  display: block;
  width: 580px;
  margin-top: 10px;
  resize: none;
}

.editing-profile-bio:focus {
  color: $main-blue;
}
