$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.biography-container {
  padding: 20px;
}

.biography-left-column {
  display: flex;
  flex-direction: column;
  float: left;
}

.biography-right-column {
  float: right;
  width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.progress-container {
  float: left;
}
