$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.footer-bar {
  padding-top: 20px;
  text-align: center;
}

.footer-bar .logo-icon{
  margin: 50px;
  color: #eee;
  font-size: 128px;
}

.footer-bar .logo-icon:hover {
  cursor: default;
}

.footer-links {
  height: 100px;
}

.footer-links > li {
  padding: 20px 20px;
  float: left;
}

.footer-links > li:first-child {
  margin-left: 300px;
}

.footer-links > li:hover {
  color: $main-blue-hover;
}

.footer-content {
  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
}

.footer-content a {
  font-weight: bold;
}

.footer-content h1 {
  font-size: 36px;
  margin: 20px 0;
}

.footer-content h2 {
  font-size: 24px;
  margin: 15px 0;
}

.footer-content a:hover {
  color: $main-blue-hover;
}
