$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #e7ebf3;

.footer-bar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.footer-links > li {
  padding: 20px 20px;

}

.footer-content {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}

.footer-content a {
  font-weight: bold;
}

.footer-content h1 {
  font-size: 36px;
  margin: 20px 0;
}

.footer-content h2 {
  font-size: 24px;
  margin: 15px 0;
}
