$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;


.form-container {
  border: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  background: #fff;
  width: 350px;
  overflow: hidden;
  position: absolute;
  left: 0;
  text-align: center;
  top: 50px;
  right: 0;
  margin: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  box-shadow: 0 0 15px #666;
  z-index: 11;
}


.form-input-field {
  padding: 12px 10px;
  width: 250px;
  margin: 0 40px;
  box-shadow: 0 0 3px $border-gray;
  border-bottom: 1px solid $border-gray;
  text-align: left;
}


.form-container .logo {
  font-size: 36px;
  cursor: default;
}

.form-container .logo-icon {
  font-size: 72px;
  cursor: default;
}


// #5ec6ff
.form-input-field:focus {
  box-shadow: 0 0 15px $main-blue-hover;
}

.username {
  margin-top: 5px;
}

.password {
  margin-top: 5px;
}

.errors {
  margin: 15px 40px 5px 40px;
  font-size: 14px;
  text-align: left;
}

.username-errors > li {
  padding: 5px;
}

.form-submit {
  padding: 13px 10px;
  width: 250px;
  background: $main-blue;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  position: relative;
}

.form-submit:hover {
  background: $main-blue-hover;
}

.form-submit:active {
  top: 2px;
  background: $main-blue-press;
  box-shadow: none;
}

.form-redirect-container {
  margin-top: 25px;
  text-align: center;
}

.form-redirect-container p:hover {
  cursor: default;
}

.form-redirect-container > a {
  line-height: 2;
  font-size: 20px;
}

.form-redirect-container:hover a {
  color: $main-blue-hover;
}

.errors {
  font-size: 12px;
  color: red;
}

.session-form-link {
  font-weight: bold;
  color: $main-blue;
}

.session-form-link:hover {
  cursor: pointer;
  color: $main-blue-hover;
}

.ReactModal__Body--open {
  overflow: hidden;
}
