$nav-background: #fff;
$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;

.form-container {
  border: 1px solid #ccc;
  background: #fff;
  width: 350px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  margin: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  box-shadow: 0 0 15px #666;
}

.form-container .logo {
  font-size: 36px;
  cursor: default;
}

.form-container .logo-icon {
  font-size: 72px;
  margin-left: 134px;
  cursor: default;
}

.form-input-field:focus {
  box-shadow: 0 0 15px #5ec6ff;
}

.username {
  margin-top: 5px;
}

.password {
  margin-top: 5px;
}

.errors {
  margin: 15px 40px 5px 40px;
  font-size: 14px;
}

.username-errors > li {
  padding: 5px;
}

.form-submit {
  padding: 13px 10px;
  width: 250px;
  background: $main-blue;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  position: relative;
}

.form-submit:hover {
  background: $main-blue-hover;
}

.form-submit:active {
  top: 2px;
  background: $main-blue-press;
  box-shadow: none;
}

.form-redirect-container {
  margin-top: 25px;
  text-align: center;
}

.form-redirect-container p:hover {
  cursor: default;
}

.form-redirect-container > a {
  font-weight: bold;
  line-height: 2;
  font-size: 20px;
}

.form-redirect-container:hover a {
  color: $main-blue-hover;
}
