$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.knowtation-editor-container {
  padding-top: 125px;
  width: 900px;
  margin: 0 auto;
}

.knowtation-editor {
  box-shadow: 0 0 7px 3px $border-gray;
}

.knowtation-editor-first-row {
  width: inherit;
  display: flex;
  flex-direction: row;
}

.knowtation-editor-second-row {
  width: inherit;
  height: 300px;
}

.knowtation-editor-video-container,
.knowtation-editor-video-player {
  width: 640px;
  height: 360px;;
  border: none;
}

.knowtation-editor-tools-container {
  width: 260px;
  height: 360px;
}

.knowtation-editor-video-container,
.knowtation-editor-tools-container {
  height: 360px;
}

.knowtation-editor-notation-container {
  height: inherit;
}
