$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.knowtation-editor-container {
  padding-top: 125px;
  width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.knowtation-editor {
  box-shadow: 0 0 3px $border-gray;
}

.knowtation-editor-first-row {
  width: inherit;
  display: flex;
  flex-direction: row;
}

.knowtation-editor-second-row {
  width: inherit;
  height: 200px;
}

.knowtation-editor-video-container,
.knowtation-editor-video-player {
  background: orchid;
  width: 642px;
  height: inherit;
  border: none;
}

.knowtation-editor-tools-container {
  background: orange;
  width: 258px;
}

.knowtation-editor-video-container,
.knowtation-editor-tools-container {
  height: 350px;
}

.knowtation-editor-notation-container {
  background: lightgreen;
  height: inherit;
}
