$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.knowtation-show-video {
  width: 900px;
  height: 506px;
}

.notation-show-view {
  margin: 0 auto;
  width: 900px;
  height: 285px;
}


.finalize.main-button {
  margin-top: 30px;
}
