$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.knowtation-tools-secondary {
  margin: 15px;
}

.knowtation-tools-first-row {
  box-shadow: 0 0 3px $border-gray;
  border-bottom: 1px solid $border-gray
}

.knowtation-tools-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.knowtation-tools-icon-list li {
  font-size: 36px;
  padding: 10px 20px;
}

.knowtation-tools-icon-list li:hover {
  color: $main-blue-hover;
  cursor: pointer;
}


.knowtation-tools-second-row h1 {
  font-size: 16px;
  margin: 20px 0 10px 0;
}

.knowtation-tools-second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  height: 240px;
  color: black;
  box-shadow: 0 0 3px $border-gray;
  border-bottom: 1px solid $border-gray;
  overflow-y: auto;
}

.knowtation-tools-second-row .material-icons {
  font-size: 24px;
}

.knowtation-tools-second-row .material-icons:hover {
  cursor: pointer;
  color: #db3236;
}

.sync-point-list li {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.sync-point-list input {
  border-bottom: 1px solid #ddd;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-top: 6px;
  width: 75px;
}

.sync-point-list input:hover {
  color: $main-blue-hover;
  border-bottom: 1px solid $main-blue-hover;
}

.sync-point-list input:focus {
  color: $main-blue-press;
  border-bottom: 1px solid $main-blue-press;
}

.sync-point-list {
  padding-bottom: 15px;
}
