$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.knowtation-show-video {
  width: 900px;
  height: 506px;
}

.notation-show-view {
  margin: 0 auto;
  width: 900px;
  height: 285px;
}

.knowtation-show-and-sidebar {
  max-height: 900px;
  display: flex;
  justify-content: center;
}

.knowtation-show-container {
  box-shadow: 0 0 1px $border-gray;
  border-bottom: 1px solid $border-gray;
}

.knowtation-show-sidebar {
  width: 315px;
  font-size: 14px;
  margin: 0 20px;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 0 0 1px $border-gray;
  border-bottom: 1px solid $border-gray;
}

.show-sidebar-item-list {
  margin: 10px;
}

.show-sidebar-list-item {
  margin: 20px 0;
}

.finalize.main-button {
  margin-top: 30px;
}

.edit.main-button {
  margin-top: 30px;
  margin-right: 10px;
}

.knowtation-show-title {
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 10px;
}

.knowtation-show-author {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
}

.knowtation-show-author:hover {
  cursor: pointer;
  color: $main-blue-hover;
}
