$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.library-list {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.library-list-item h2:hover,
.library-list-item h3:hover {
  color: $main-blue-hover;
}

.library-list-knowtation-link:hover img {
  -webkit-filter: brightness(50%);
  cursor: pointer;
}

.library-list-knowtation-link:hover h2 {
  color: $main-blue-hover;
}

@media (min-width: 900px) {
  .library-container {
    padding-top: 100px;
    width: 900px;
    margin: 0 auto;
  }

  .library-list-item h2 {
    font-size: 16px;
  }

  .library-list-item h3 {
    font-size: 14px;
  }

  .library-list-item {
    width: 256px;
    margin: 20px 20px;
  }
}

@media (max-width: 900px) {
  .library-container {
    padding-top: 100px;
    width: 400px;
    margin: 0 auto;
  }

  .library-list-item h2 {
    font-size: 18px;
  }

  .library-list-item h3 {
    font-size: 16px;
  }

  .library-list-item {
    width: 375px;
    margin: 20px 20px;
  }
}
