$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;


.navigation-bar {
  background: #fff;
  box-shadow: 0 2px 3px #aaa;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navigation-items {
  margin: 0 auto;
}

header .main-button {
  border: 2px solid $main-blue;
  color: $main-blue;
  border-radius: 5px;
  padding: 2px 20px;
}

header .main-button:hover {
  border: 2px solid $main-blue-hover;
  color: $main-blue-hover;
}

header .logo-container {
  margin-left: 20px;
}

header .logo {
  float: left;
  font-size: 18px;
  margin: 20px 0 0 15px;
}

header .logo:hover {
  cursor: pointer;
}

header .logo-icon {
  color: $main-blue;
  float: left;
  font-size: 22px;
  margin: 21px 0 0 5px;
}

header .logo-container:hover {
  cursor: pointer;
}

header .logo-container:hover .logo-icon {
  color: $main-blue-hover;
}

header img {
  float: left;
  width: 30px;
  height: auto;
  margin: 17px 0 0 20px;
}

.navigation-links {
  float: right;
  margin: 19px 15px 19px 0;
}

.navigation-links > li {
  float: left;
  margin: 0 auto;
  padding: 3px 20px 3px 20px;
}

.navigation-links > li:hover {
  color: $main-blue-hover;
}

.nth-nav-link {
  border-left: 1px solid black;
}
