$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;


.navigation-bar {
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 1px $border-gray;
  border-bottom: 1px solid $border-gray;
}

.navigation-items {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-left {
  margin-left: 20px;
}

.navigation-center {
  font-size: 28px;
}

.navigation-center > a {
  padding: 0 10px;
}

.navigation-center > a:hover {
  color: $main-blue-hover;
}

.navigation-right {
  margin-right: 20px;
}

header .logo-container {
}

header .logo {
  font-size: 20px;
}

header .logo:hover {
  cursor: pointer;
}

header .logo-icon {
  color: $main-blue;
  font-size: 20px;
}

header .logo-container:hover {
  cursor: pointer;
}

header .logo-container:hover .logo-icon {
  color: $main-blue-hover;
}

header .logo-container:hover .library {
  color: $main-blue-hover;
}

@media (min-width: 600px) {
  .navigation-links {
    float: right;
    margin: 10px 15px 10px 0;
  }
}

@media (max-width: 600px) {
  .navigation-links {
    float: left;
    margin: 10px 15px 10px 35px;
  }
}

.navigation-links > li {
  float: left;
  margin: 0 auto;
}

.navigation-links .navigation-text {
  padding: 4px 20px;
}

.navigation-links > li:hover {
  color: $main-blue-hover;
  cursor: pointer;
}

.nth-nav-link {
  border-right: 1px solid black;
}

.navigation-login {
  border-left: 1px solid black;
}

.navigation-signup {
  margin-right: 20px;
}
