$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.notation-view-container {
  width: 900px;
  height: 300px;
  overflow-x: visible;
  overflow-y: hidden;
  box-shadow: 0 0 5px $border-gray;
  border-top: 1px solid $border-gray;
}

.notation-view {
  height: 285px;
}

.notation-view:hover {
  cursor: crosshair;
}
