$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.profile-container {
  padding-top: 125px;
  width: 900px;
  margin: 0 auto;
}

.profile-picture-container {
  float: left;
  position: relative;
  width: 205px;
}

.profile-icon-container .material-icons {
  margin-top: 15px;
  margin-left: 20px;
  color: rgba(50, 50, 50, 0.7);
}

.profile-icon-container figcaption {
  position: absolute;
  bottom: 15px;
  left: 80px;
}

.profile-icon-container {
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: transparent;
}

.profile-picture-container:hover {
  cursor: pointer;
}

.profile-picture-container:hover .material-icons {
  color: rgba(0, 0, 0, 1);
}

.profile-picture-container:hover .profile-icon-container {
  cursor: pointer;
  background-color: rgba(170, 170, 170, 0.8);
  color: #fff;
}

.profile-picture {
  width: 278px;
  height: 278px;
  padding: 10px;
  box-shadow: 0 0 3px $border-gray;
  border-bottom: 1px solid $border-gray;
}

.profile-username {
  font-size: 28px;
}

.profile-country {
  margin: 10px 0;
  width: 600px;
  display: block;
  float: left;
}

.profile-user-type {
  font-size: 16px;
  font-style: italic;
}

.null-profile-country {
  color: $border-gray;
}

.null-profile-country:hover {
  color: $main-blue-hover;
}

.editing-profile-country:focus {
  color: $main-blue;
}

.profile-edit-buttons-container {
  display: flex;
  flex-direction: row;
}

.profile-edit-buttons-container > li {
  margin-right: 15px;
}

.chart-container {
  margin: 40px 0;
}

.username-container {
  display: flex;
  flex-direction: row;
}

.profile-edit-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.profile-edit-buttons-container > button {
  align-content: center;
}

.disabled-picture-form {
  display: none;
}

.enabled-picture-form {
  display: block;
  width: 900px;
  float: left;
}

.secondary-profile-container {
  box-shadow: 0 0 3px $border-gray;
  border-bottom: 1px solid $border-gray;
}
