$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.saved-container {
  background: salmon;
  opacity: 0.5;
}

.saved-container h1 {
  font-size: 20px;
}

.saved-list {
}
