

.session-form-container {
  border: 1px solid #ccc;
  background: #fff;
  width: 350px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  margin: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.session-form-container .logo {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
}

.session-form-container img {
  margin: 0 auto;
  width: 75px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-field {
  border: 1px solid #000;
  padding: 12px 10px;
  width: 250px;
  margin: 0 40px;
}

.session-field:focus {
  box-shadow: 0 0 15px #5ec6ff;
}

.username {
  margin-top: 5px;
}

.password {
  margin-top: 5px;
}

.errors {
  margin: 15px 40px 5px 40px;
  font-size: 14px;
}

.username-errors > li {
  padding: 5px;
}

.session-submit {
  padding: 10px 10px;
  width: 250px;
  background: #5ec6ff;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  position: relative;
  box-shadow: 0 3px 0 0 #00649C;
}

.session-submit:hover {
  background: #8FD7FF;
}

.session-submit:active {
  top: 3px;
  background: #00649C;
  box-shadow: none;
}

.redirect-container {
  margin-top: 25px;
  text-align: center;
}


.redirect-container > p {

}

.redirect-container > a {
  font-weight: bold;
  line-height: 2;
  font-size: 16px;
}
