.teach-form {
  overflow: hidden;
  text-align: center;
}

.teach-question {
  padding: 20px 0;
  font-size: 24px;
}

.teach-form-button-container button {
  width: 140px;
  margin: 0 auto;
}

.teach-form-button-container button:first-child {
  margin-right: 10px;
}
