$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.upload-form-container {
  width: 600px;
  height: 500px;
  overflow-y: scroll;
}

.upload-form-container span {
  color: $border-gray;
}

.logo-container {
  text-align: center;
}

.form-container .logo-container .material-icons {
  margin: 0;
}

.form-input-container {
  width: inherit;
  float: left;
}

.form-input-container input {
  width: 580px;
  margin: 10px 0;
  text-align: left;
}

.form-input-container input:last-child {
  margin-top: 0;
  margin-bottom: 10px;
}

.form-input-container button {

}

.thumbnail-container {
  width: inherit
}

.thumbnail-container {
  float: left;
}

.thumbnail-container button {
  float: right;
  width: 150px;
}

.notation-container {
  width: inherit;
  margin-top: 10px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notation-container .material-icons

.notation-container img {
  float: left;
  width: inherit;
  border: 1px solid $border-gray;
}

.notation-container button {
  width: 150px;
}

.upload-button-container {
  width: inherit;
  text-align: center;
}

.upload-button-container button {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 2px;
}

.form-input-container button {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 2px;
}

.upload-no-image {
  display: none;
}

.upload-form-container .material-icons {
  font-size: 64px;
  color: $border-gray;
}


.upload-video,
.uploaded-video,
.upload-thumbnail {
  width: 293px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px $border-gray;
}

.upload-video:hover,
.upload-thumbnail:hover,
.upload-notation:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
}

.upload-video,
.uploaded-video {
  float: left;
}

.upload-thumbnail {
  float: right;
}

.upload-notation {
  margin-top: 6px;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px $border-gray;
}
