$main-blue: #0061ff;
$main-blue-hover: #3d87ff;
$main-blue-press: #0058e8;
$border-gray: #aaa;

.upload-form-container {
  width: 600px;
}

.logo-container {
  text-align: center;
}

.form-container .logo-container .material-icons {
  margin: 0;
}

.form-input-container {
  width: inherit;
  float: left;
}

.form-input-container input {
  width: 580px;
  margin: 10px 0;
}

.form-input-container button {

}

.thumbnail-container {
  width: inherit
}

.thumbnail-container .upload-knowtation-video {
  float: left;
}

.thumbnail-container img {
  float: right;
  width: 300px;
}

.thumbnail-container img,
.thumbnail-container .upload-knowtation-video {
  width: 290px;
  height: 150px;
  border: 1px solid $border-gray;
}

.thumbnail-container button {
  float: right;
  width: 150px;
}

.notation-container {
  width: inherit;
  margin-top: 10px;
  float: left;
}

.notation-container img {
  float: left;
  width: inherit;
  border: 1px solid $border-gray;
}

.notation-container img:hover,
.thumbnail-container img:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
}

.notation-container button {
  width: 150px;
}

.upload-button-container {
  width: inherit;
  text-align: center;
}
